body {

}
.head {
  font-family: Helvetica;
  font-style: Bold;
  position: relative;
  font-size: 100px;
}

.cursive {
  transform: rotate(270deg);
  font-family: "Parisienne", cursive;
  font-size: 250px;
  height: -500px;
  left: -750px;
  position: relative;
}
.cursive:hover {
  font-family: Helvetica;
  font-style: Bold;
  font-size: 200px;
}
.elipse h1 {
  border-radius: 1000px;
  display: inline;
  left: 50%;
  position: relative;
  background-color: lightgreen;
  padding: 300px;
  letter-spacing: -0.04em;
}
.elipse a {
  position: relative;
  left: 5%;
  top: 35px;
  font-family: Helvetica;
  font-size: 35px;
  word-spacing: 90px;
   text-decoration: none;
  color:white;
}
.elipse a:hover{
 background-color: black;
  border-radius: 1000px;
  padding: 10px;
   word-spacing:90px;
}
.elipse h1:hover{
   background-color: lightpink;
}
.test {
   background-color: lightgreen;
    border-radius: 1000px;
  font-family: Helvetica;
   font-size: 100px;
    font-style: Bold;
    display: inline;
  padding: 50px;
   position: relative;
   animation-name: example;
  animation-duration: 4s;
   animation-iteration-count: infinite;
}
.Project1 a {
  font-family: Helvetica;
   font-size: 35px;
     text-decoration: none;
    display: inline;
    position: relative;
  color:black;
   left: 25%;
}
.Project1 p {
  font-family: Helvetica;
   font-size: 30px;
     text-decoration: none;
    display: inline;
    position: relative;
  color:black;
   left: 15%;
  top: -650px;
}

ul {
  font-family: Helvetica;
   font-size: 35px;
}
span {
  position: relative;
   left: 20%;
  top: -400px;
    text-decoration: none;
}
.class a {
      text-decoration: none;
  color:black
}
.class a:hover{
  background-color: black;
  color:white;
    text-decoration: none;
  padding: 10px;
  border-radius: 100px;
     font-size: 45px;
    
}
.brokenasscode a {
  text-decoration: none;
  color:white;
  font-family: Helvetica;
   font-size: 40px;
    left: 80%;
  position: relative;
  top: -650px;
}
.brokenasscode a:hover {
background-color:black;
    border-radius: 1000px;
  padding: 10px;
  
}
.Project1 a:hover{
  color: white;
  background-color: black;
  border-radius: 1000px;
  padding:10px;
font-size: 45px;
}
.Project1 p b{
 animation-name: Hi;
  animation-duration: 4s;
   animation-iteration-count: infinite;
}
.sticky {
     top: -1000px;
    font-family: Helvetica;
  font-style: Bold;
  position: relative;
   left: 93%;

}
.stickyy {
  top: -1000px;
  font-family: Helvetica;
  font-style: Bold;
  position: relative;
   left: 10%;


}
@keyframes example {
  0%   {background-color:lightgreen; left:0px; top:0px;}
  25%  {background-color:pink; left:-20px; top:30px;}
  50%  {background-color:lightgreen; left:-200px; top:-300px;}
  75%  {background-color:pink; left:20px; top:-200px;}
  100% {background-color:lightgreen; left: 0; top:0 px;}
}
@keyframes Hi {
  0%   {background-color:lightgreen;}
  25%  {background-color:pink; }
  50%  {background-color:lightgreen;}
  75%  {background-color:pink;}
  100% {background-color:lightgreen;}
}